/****************
*Arredondamentos*
********&********
****box-size*****
****************/
body{
	display: block;
}
#header{
	/*width: 300px;*/
	height: 200px;
	background: #b9c941;
	padding: 50px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;	
}
#header #logo-area{
	float: left;
	width: 25%;
}
#header #logo-area img{
	width: 200px;
	
}

#header #menu {
	float: right;
}

/*
************* Menu drop down
*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	width: 75%;
}

li {
	float: left;
	width: 30%;
}

li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	width: 100%;
}

li a:hover, .dropdown:hover .dropbtn {
	background-color: red;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
	display: block;
}

/**
	FIM DROP DOWN
**/
/*
/*
.arredondamento{
	border-radius: 150px;
}
#caixa2{
	width: 300px;
	height: 300px;
	background: #b9c941;
	
	
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	

}

/********
*Degrade*
****&****
Gradiente
********/
/*
#caixa{
	width: 300px;
	height: 300px;
	/*background: url("../imagens/camera.png");*/
	/*background: linear-gradient(to left, red, green)*/
	/*background: radial-gradient( red, green)
}
#caixa h1{
	background: rgba(255, 255, 255, 0.5);
}*/

/********
*Sombras*
********/
/*
#caixa{
	width: 300px;
	height: 300px;
	padding: 8px;
	margin: 20px;
	background: #009670;
	box-shadow: 20px 20px 2px 0px rgba(0,0,0,0.6);
	/* 1º movimenta a sombra para horizontal
	   2º movimenta a sombra para a vertical
	   3º define o nivel de borrado da sombra
	   4º define o tamanho do sprad (espalhar) da sombra
	   5º define a coloração da sombra, com opacidade
	

}
#caixa h1{
	color: white;
	text-shadow: 5px 5px 2px rgba(0,0,0,0.6);
	/* 1º movimenta a sombra para horizontal
	   2º movimenta a sombra para a vertical
	   3º define o nivel de borrado da sombra
	   4º define a coloração da sombra, com opacidade
	
}*/

/**********
*ANIMAÇOES*
**********/
/*
@keyframes animacao-caixa {
	from {
		background: red;
		border-radius: 0px;
		top: 0;
		left: 0;
	}
	to {
		background: green;
		border-radius: 300px;
		top: 200px;
		left: 200px;
	}
}

#caixa{
	width: 300px;
	height: 300px;
	background: red;
	position: relative;
	/*
	animation-name: animacao-caixa;
	animation-duration: 5s;
	animation-delay: 3s;
	animation-iteration-count: 2;
	animation-direction: alternate;*/

/*	animation: animacao-caixa 5s 3s 2 alternate;
}*/

/***********
*TRANSIÇÕES*
***********/
#caixa{
	width: 300px;
	height: 300px;
	background: orange;
}
#caixa:hover{
	width: 400px;	
	background: yellow;	
	transition: width 3s, background 3s;
}
